@model List<ToDoList.Models.ToDo>


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div id="todo-table"></div>

@section Scripts{
    <script src="~/js/BuildTable.js"></script>
}